JSON-Export
[
    {
        "id": "31aaa312f52b62d7",
        "type": "tab",
        "label": "weather",
        "disabled": false,
        "info": ""
    },
    {
        "id": "cd616549a3a2f807",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "f8df904fcfe7fa6f",
        "type": "ui_group",
        "name": "Electricity Prices",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "30",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7c3d98224a98b36f",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "7db45a2e2009a112",
        "type": "ui_group",
        "name": "",
        "tab": "eb94216d.968598",
        "order": 2,
        "disp": true,
        "width": 25,
        "collapse": false,
        "className": "clock"
    },
    {
        "id": "3a55946c716485d1",
        "type": "ui_group",
        "name": "",
        "tab": "eb94216d.968598",
        "order": 1,
        "disp": true,
        "width": 25,
        "collapse": false,
        "className": "clock"
    },
    {
        "id": "eb94216d.968598",
        "type": "ui_tab",
        "name": "Weather Dashboard",
        "icon": "",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "865ce097624a145e",
        "type": "ui_spacer",
        "z": "31aaa312f52b62d7",
        "name": "spacer",
        "group": "7db45a2e2009a112",
        "order": 2,
        "width": 3,
        "height": 1
    },
    {
        "id": "b6e079279a9e9da9",
        "type": "ui_spacer",
        "z": "31aaa312f52b62d7",
        "name": "spacer",
        "group": "7db45a2e2009a112",
        "order": 4,
        "width": 2,
        "height": 1
    },
    {
        "id": "ac17480245bb4ea8",
        "type": "ui_spacer",
        "z": "31aaa312f52b62d7",
        "name": "spacer",
        "group": "7db45a2e2009a112",
        "order": 6,
        "width": 2,
        "height": 1
    },
    {
        "id": "2711fb9fb766d8b7",
        "type": "ui_spacer",
        "z": "31aaa312f52b62d7",
        "name": "spacer",
        "group": "7db45a2e2009a112",
        "order": 8,
        "width": 10,
        "height": 1
    },
    {
        "id": "b4a4e09f9e5d52fb",
        "type": "ui_spacer",
        "z": "31aaa312f52b62d7",
        "name": "spacer",
        "group": "7db45a2e2009a112",
        "order": 9,
        "width": 2,
        "height": 1
    },
    {
        "id": "297becc38d6401ba",
        "type": "ui_spacer",
        "z": "31aaa312f52b62d7",
        "name": "spacer",
        "group": "7db45a2e2009a112",
        "order": 11,
        "width": 2,
        "height": 1
    },
    {
        "id": "ace623f8dd2d26e1",
        "type": "ui_spacer",
        "z": "31aaa312f52b62d7",
        "name": "spacer",
        "group": "7db45a2e2009a112",
        "order": 12,
        "width": 8,
        "height": 1
    },
    {
        "id": "8b6d242cf9ebef6e",
        "type": "ui_spacer",
        "z": "31aaa312f52b62d7",
        "name": "spacer",
        "group": "7db45a2e2009a112",
        "order": 13,
        "width": 11,
        "height": 1
    },
    {
        "id": "d0e3048281716d75",
        "type": "ui_spacer",
        "z": "31aaa312f52b62d7",
        "name": "spacer",
        "group": "7db45a2e2009a112",
        "order": 15,
        "width": 3,
        "height": 1
    },
    {
        "id": "e2dfbdcd264472ef",
        "type": "ui_spacer",
        "z": "31aaa312f52b62d7",
        "name": "spacer",
        "group": "7db45a2e2009a112",
        "order": 16,
        "width": 2,
        "height": 1
    },
    {
        "id": "8f01eed4d2ece38c",
        "type": "ui_spacer",
        "z": "31aaa312f52b62d7",
        "name": "spacer",
        "group": "7db45a2e2009a112",
        "order": 18,
        "width": 2,
        "height": 1
    },
    {
        "id": "f502d0bab2c4a47d",
        "type": "ui_spacer",
        "z": "31aaa312f52b62d7",
        "name": "spacer",
        "group": "7db45a2e2009a112",
        "order": 19,
        "width": 3,
        "height": 1
    },
    {
        "id": "a59abe1c3b444a64",
        "type": "ui_spacer",
        "z": "31aaa312f52b62d7",
        "name": "spacer",
        "group": "7db45a2e2009a112",
        "order": 20,
        "width": 2,
        "height": 1
    },
    {
        "id": "5fb66f66e52c7041",
        "type": "ui_spacer",
        "z": "31aaa312f52b62d7",
        "name": "spacer",
        "group": "7db45a2e2009a112",
        "order": 21,
        "width": 2,
        "height": 1
    },
    {
        "id": "10fe12e0c29c0798",
        "type": "ui_spacer",
        "z": "31aaa312f52b62d7",
        "name": "spacer",
        "group": "7db45a2e2009a112",
        "order": 23,
        "width": 2,
        "height": 1
    },
    {
        "id": "c3d401806da052c3",
        "type": "ui_spacer",
        "z": "31aaa312f52b62d7",
        "name": "spacer",
        "group": "7db45a2e2009a112",
        "order": 24,
        "width": 2,
        "height": 1
    },
    {
        "id": "80d3dd30d335ed9f",
        "type": "ui_spacer",
        "z": "31aaa312f52b62d7",
        "name": "spacer",
        "group": "7db45a2e2009a112",
        "order": 25,
        "width": 10,
        "height": 1
    },
    {
        "id": "81bcc3c95fdc07f7",
        "type": "ui_spacer",
        "z": "31aaa312f52b62d7",
        "name": "spacer",
        "group": "7db45a2e2009a112",
        "order": 26,
        "width": 2,
        "height": 1
    },
    {
        "id": "33d7eb175c986174",
        "type": "ui_spacer",
        "z": "31aaa312f52b62d7",
        "name": "spacer",
        "group": "7db45a2e2009a112",
        "order": 27,
        "width": 3,
        "height": 1
    },
    {
        "id": "b86247d1df897fd2",
        "type": "ui_spacer",
        "z": "31aaa312f52b62d7",
        "name": "spacer",
        "group": "7db45a2e2009a112",
        "order": 28,
        "width": 1,
        "height": 1
    },
    {
        "id": "62039e526e57def1",
        "type": "ui_spacer",
        "z": "31aaa312f52b62d7",
        "name": "spacer",
        "group": "7db45a2e2009a112",
        "order": 30,
        "width": 1,
        "height": 1
    },
    {
        "id": "9416034137f463de",
        "type": "ui_spacer",
        "z": "31aaa312f52b62d7",
        "name": "spacer",
        "group": "7db45a2e2009a112",
        "order": 32,
        "width": 1,
        "height": 1
    },
    {
        "id": "ac7b5cae97bd749e",
        "type": "ui_spacer",
        "z": "31aaa312f52b62d7",
        "name": "spacer",
        "group": "7db45a2e2009a112",
        "order": 34,
        "width": 10,
        "height": 1
    },
    {
        "id": "7e9455da551e5c59",
        "type": "ui_spacer",
        "z": "31aaa312f52b62d7",
        "name": "spacer",
        "group": "7db45a2e2009a112",
        "order": 36,
        "width": 1,
        "height": 1
    },
    {
        "id": "7e0b705cecc17a43",
        "type": "ui_spacer",
        "z": "31aaa312f52b62d7",
        "name": "spacer",
        "group": "7db45a2e2009a112",
        "order": 38,
        "width": 1,
        "height": 1
    },
    {
        "id": "2f5624e8bc5267c3",
        "type": "ui_spacer",
        "z": "31aaa312f52b62d7",
        "name": "spacer",
        "group": "7db45a2e2009a112",
        "order": 40,
        "width": 1,
        "height": 1
    },
    {
        "id": "13e984ab2695e895",
        "type": "ui_spacer",
        "z": "31aaa312f52b62d7",
        "name": "spacer",
        "group": "7db45a2e2009a112",
        "order": 42,
        "width": 1,
        "height": 1
    },
    {
        "id": "d67257629b6e50a2",
        "type": "ui_spacer",
        "z": "31aaa312f52b62d7",
        "name": "spacer",
        "group": "7db45a2e2009a112",
        "order": 44,
        "width": 2,
        "height": 1
    },
    {
        "id": "a1f49280060f460a",
        "type": "ui_spacer",
        "z": "31aaa312f52b62d7",
        "name": "spacer",
        "group": "7db45a2e2009a112",
        "order": 45,
        "width": 1,
        "height": 1
    },
    {
        "id": "4945d8a821711a4e",
        "type": "ui_spacer",
        "z": "31aaa312f52b62d7",
        "name": "spacer",
        "group": "7db45a2e2009a112",
        "order": 46,
        "width": 1,
        "height": 1
    },
    {
        "id": "e7e1891ed848225f",
        "type": "ui_spacer",
        "z": "31aaa312f52b62d7",
        "name": "spacer",
        "group": "7db45a2e2009a112",
        "order": 47,
        "width": 1,
        "height": 1
    },
    {
        "id": "39a367deeb173b7a",
        "type": "ui_spacer",
        "z": "31aaa312f52b62d7",
        "name": "spacer",
        "group": "7db45a2e2009a112",
        "order": 48,
        "width": 1,
        "height": 1
    },
    {
        "id": "eb0d4c276cbbc631",
        "type": "ui_spacer",
        "z": "31aaa312f52b62d7",
        "name": "spacer",
        "group": "7db45a2e2009a112",
        "order": 49,
        "width": 2,
        "height": 1
    },
    {
        "id": "96888ecd65f38f9a",
        "type": "ui_spacer",
        "z": "31aaa312f52b62d7",
        "name": "spacer",
        "group": "7db45a2e2009a112",
        "order": 50,
        "width": 3,
        "height": 1
    },
    {
        "id": "62f85cc89122e13d",
        "type": "ui_spacer",
        "z": "31aaa312f52b62d7",
        "name": "spacer",
        "group": "7db45a2e2009a112",
        "order": 51,
        "width": 10,
        "height": 1
    },
    {
        "id": "6df903439fd0ecb2",
        "type": "ui_spacer",
        "z": "31aaa312f52b62d7",
        "name": "spacer",
        "group": "7db45a2e2009a112",
        "order": 52,
        "width": 2,
        "height": 1
    },
    {
        "id": "b82e14983b9f537e",
        "type": "ui_spacer",
        "z": "31aaa312f52b62d7",
        "name": "spacer",
        "group": "7db45a2e2009a112",
        "order": 53,
        "width": 3,
        "height": 1
    },
    {
        "id": "bc1b036e28168856",
        "type": "ui_clock",
        "z": "31aaa312f52b62d7",
        "name": "",
        "group": "7db45a2e2009a112",
        "order": 10,
        "width": 8,
        "height": 5,
        "x": 650,
        "y": 180,
        "wires": []
    },
    {
        "id": "639356cd90d46b77",
        "type": "inject",
        "z": "31aaa312f52b62d7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 150,
        "y": 180,
        "wires": [
            [
                "bc1b036e28168856",
                "940e019631b04dd7"
            ]
        ]
    },
    {
        "id": "940e019631b04dd7",
        "type": "function",
        "z": "31aaa312f52b62d7",
        "name": "",
        "func": "var timestamp = msg.payload;\nlet time = new Date(timestamp).toLocaleTimeString();\n\nreturn {\n payload: time\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 220,
        "wires": [
            [
                "82ba612e184221e4"
            ]
        ]
    },
    {
        "id": "82ba612e184221e4",
        "type": "ui_text",
        "z": "31aaa312f52b62d7",
        "group": "7db45a2e2009a112",
        "order": 3,
        "width": 4,
        "height": 1,
        "name": "Digital time",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "digital_time",
        "x": 670,
        "y": 220,
        "wires": []
    },
    {
        "id": "86a6fbc561890eb7",
        "type": "ui_template",
        "z": "31aaa312f52b62d7",
        "group": "7db45a2e2009a112",
        "name": "",
        "order": 1,
        "width": 1,
        "height": 1,
        "format": "<style>\n .digital_time {\n    transform:scale(2);\n }\n .detail {\n    background-color: #505050!important;\n }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 120,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "f70f71b6c5202c06",
        "type": "openweathermap",
        "z": "31aaa312f52b62d7",
        "name": "api",
        "wtype": "current",
        "lon": "",
        "lat": "",
        "city": "",
        "country": "",
        "language": "en",
        "x": 470,
        "y": 360,
        "wires": [
            [
                "70a9a6f760ced0f3",
                "fd719ffc51e7e957",
                "cf8c660df408e83d",
                "d52512908a85ba97",
                "9430a39a0bba8264",
                "67f1e99e5779b3db",
                "c7333a26f666c203",
                "a0044862f58ed49a",
                "e67069ec4830aa62",
                "1f32b7dbb5c41ada",
                "cc45aed1de1fd4b2",
                "14ad6db8ce60f03f"
            ]
        ]
    },
    {
        "id": "63ac41833d4312fc",
        "type": "inject",
        "z": "31aaa312f52b62d7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 340,
        "wires": [
            [
                "d5f323517e8b45be"
            ]
        ]
    },
    {
        "id": "70a9a6f760ced0f3",
        "type": "ui_gauge",
        "z": "31aaa312f52b62d7",
        "name": "humidity",
        "group": "7db45a2e2009a112",
        "order": 43,
        "width": 7,
        "height": 3,
        "gtype": "donut",
        "title": "Humidity",
        "label": "%",
        "format": "{{payload.humidity}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "humidity",
        "x": 980,
        "y": 440,
        "wires": []
    },
    {
        "id": "fd719ffc51e7e957",
        "type": "ui_level",
        "z": "31aaa312f52b62d7",
        "group": "7db45a2e2009a112",
        "order": 14,
        "width": 3,
        "height": 9,
        "name": "Temperature",
        "label": "Temperature",
        "colorHi": "#e60000",
        "colorWarn": "#99ff00",
        "colorNormal": "#55c1f7",
        "colorOff": "#595959",
        "min": "-20",
        "max": "50",
        "segWarn": "10",
        "segHigh": "25",
        "unit": "ºC",
        "layout": "sv",
        "channelA": "",
        "channelB": "",
        "decimals": "1",
        "animations": "soft",
        "shape": "1",
        "colorschema": "fixed",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload.tempc",
        "peaktime": 3000,
        "x": 990,
        "y": 280,
        "wires": []
    },
    {
        "id": "cf8c660df408e83d",
        "type": "ui_text",
        "z": "31aaa312f52b62d7",
        "group": "7db45a2e2009a112",
        "order": 22,
        "width": 3,
        "height": 2,
        "name": "Max temp",
        "label": "Max Temp",
        "format": "{{msg.payload.temp_maxc}}",
        "layout": "col-center",
        "className": "temp_maxc",
        "x": 980,
        "y": 340,
        "wires": []
    },
    {
        "id": "d52512908a85ba97",
        "type": "ui_text",
        "z": "31aaa312f52b62d7",
        "group": "7db45a2e2009a112",
        "order": 35,
        "width": 3,
        "height": 2,
        "name": "Min temp",
        "label": "Min Temp",
        "format": "{{msg.payload.temp_minc}}",
        "layout": "col-center",
        "className": "temp_minc",
        "x": 980,
        "y": 380,
        "wires": []
    },
    {
        "id": "fdf268d6e6294c4a",
        "type": "ui_media",
        "z": "31aaa312f52b62d7",
        "group": "7db45a2e2009a112",
        "name": "Sunset",
        "width": 2,
        "height": 2,
        "order": 39,
        "category": "sun2",
        "file": "sunset.png",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 980,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "929a0567cf1e958b",
        "type": "ui_media",
        "z": "31aaa312f52b62d7",
        "group": "7db45a2e2009a112",
        "name": "Sunrise",
        "width": 2,
        "height": 2,
        "order": 37,
        "category": "sun2",
        "file": "arise.png",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 980,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "97f096a5c17943de",
        "type": "inject",
        "z": "31aaa312f52b62d7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 690,
        "y": 40,
        "wires": [
            [
                "929a0567cf1e958b",
                "fdf268d6e6294c4a",
                "5c79ca19a419da9a"
            ]
        ]
    },
    {
        "id": "1a80ba5a3964bf70",
        "type": "ui_text",
        "z": "31aaa312f52b62d7",
        "group": "7db45a2e2009a112",
        "order": 29,
        "width": 2,
        "height": 1,
        "name": "Sunrise",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 980,
        "y": 600,
        "wires": []
    },
    {
        "id": "ff466009410326ab",
        "type": "ui_text",
        "z": "31aaa312f52b62d7",
        "group": "7db45a2e2009a112",
        "order": 31,
        "width": 2,
        "height": 1,
        "name": "Sunset",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 980,
        "y": 640,
        "wires": []
    },
    {
        "id": "9430a39a0bba8264",
        "type": "function",
        "z": "31aaa312f52b62d7",
        "name": "",
        "func": "var timestamp = new Date(msg.payload.sunset * 1000);\nlet sunset = timestamp.toLocaleTimeString();\n\nreturn {\n payload: sunset\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 640,
        "wires": [
            [
                "ff466009410326ab"
            ]
        ]
    },
    {
        "id": "67f1e99e5779b3db",
        "type": "function",
        "z": "31aaa312f52b62d7",
        "name": "",
        "func": "var timestamp = new Date(msg.payload.sunrise * 1000);\nlet sunrise = timestamp.toLocaleTimeString();\n\nreturn {\n payload: sunrise\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 600,
        "wires": [
            [
                "1a80ba5a3964bf70"
            ]
        ]
    },
    {
        "id": "c7333a26f666c203",
        "type": "ui_gauge",
        "z": "31aaa312f52b62d7",
        "name": "",
        "group": "7db45a2e2009a112",
        "order": 5,
        "width": 7,
        "height": 3,
        "gtype": "gage",
        "title": "Wind Speed",
        "label": "m/s",
        "format": "{{payload.windspeed}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 990,
        "y": 500,
        "wires": []
    },
    {
        "id": "a0044862f58ed49a",
        "type": "ui_gauge",
        "z": "31aaa312f52b62d7",
        "name": "",
        "group": "7db45a2e2009a112",
        "order": 17,
        "width": 7,
        "height": 4,
        "gtype": "compass",
        "title": "Wind Direction",
        "label": "",
        "format": "{{payload.winddirection}}",
        "min": 0,
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1000,
        "y": 540,
        "wires": []
    },
    {
        "id": "5c79ca19a419da9a",
        "type": "ui_media",
        "z": "31aaa312f52b62d7",
        "group": "7db45a2e2009a112",
        "name": "Clouds",
        "width": 2,
        "height": 2,
        "order": 41,
        "category": "Clouds",
        "file": "clouds.png",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 980,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "e67069ec4830aa62",
        "type": "ui_text",
        "z": "31aaa312f52b62d7",
        "group": "7db45a2e2009a112",
        "order": 7,
        "width": 6,
        "height": 2,
        "name": "Detail",
        "label": "The weather is:",
        "format": "{{msg.payload.detail}}",
        "layout": "col-center",
        "className": "detail",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 970,
        "y": 240,
        "wires": []
    },
    {
        "id": "1f32b7dbb5c41ada",
        "type": "ui_text",
        "z": "31aaa312f52b62d7",
        "group": "7db45a2e2009a112",
        "order": 33,
        "width": 2,
        "height": 1,
        "name": "Clouds",
        "label": "",
        "format": "{{msg.payload.clouds}} %",
        "layout": "col-center",
        "className": "clouds",
        "x": 980,
        "y": 200,
        "wires": []
    },
    {
        "id": "cc45aed1de1fd4b2",
        "type": "debug",
        "z": "31aaa312f52b62d7",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 560,
        "wires": []
    },
    {
        "id": "d5f323517e8b45be",
        "type": "function",
        "z": "31aaa312f52b62d7",
        "name": "function 1",
        "func": "var inp = global.get(\"input\")\n\nmsg = {\n    location:{\n        city: inp.city,\n        country: inp.country\n    }\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 340,
        "wires": [
            [
                "f70f71b6c5202c06"
            ]
        ]
    },
    {
        "id": "e5e457e7b9ca8eee",
        "type": "ui_form",
        "z": "31aaa312f52b62d7",
        "name": "",
        "label": "",
        "group": "3a55946c716485d1",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "City",
                "value": "city",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Country",
                "value": "country",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "city": "",
            "country": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 190,
        "y": 500,
        "wires": [
            [
                "690247c6716bcc7a"
            ]
        ]
    },
    {
        "id": "690247c6716bcc7a",
        "type": "change",
        "z": "31aaa312f52b62d7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "input",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "14ad6db8ce60f03f",
        "type": "function",
        "z": "31aaa312f52b62d7",
        "name": "function 2",
        "func": "// Obtener la temperatura de msg.payload.tempc\nvar tempc = msg.payload.tempc;\n\n// Verificar si la temperatura es mayor que 25\nif (tempc > 25) {\n    // Crear un nuevo mensaje con el texto \"time for the beach!!\"\n    msg.payload = \"Yes, time for the beach!!\";\n} else {\n    // Si no es mayor que 25, no hacer nada o pasar el mensaje original\n    msg.payload = \"Nope, better stay at home\";\n}\n\n// Devolver el mensaje\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 680,
        "wires": [
            [
                "751d604d330aeb4b"
            ]
        ]
    },
    {
        "id": "751d604d330aeb4b",
        "type": "ui_text",
        "z": "31aaa312f52b62d7",
        "group": "3a55946c716485d1",
        "order": 53,
        "width": "25",
        "height": "2",
        "name": "",
        "label": "Its time for the beach??",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "25",
        "color": "#05cdf5",
        "x": 1030,
        "y": 680,
        "wires": []
    }
]
